# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
.venv/

# Flask / Django / general
instance/
*.log

# Node
node_modules/
frontend/node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Docker
*.pid

